{% extends 'base.html.twig' %}
{% block title %}TastyTable{% endblock %}
{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/index.css') }}">
    {% endblock %}


    <div class="container">
        <div class="form-box">
            <h1>Login</h1>
            {{ form_start(form) }}
            <div class="input-group">
                <div class="input-field" id="emailField">
                    <i class="fa-solid fa-envelope"></i>
                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                </div>
                <div class="input-field" id="passwordField">
                    <i class="fa-solid fa-lock"></i>
                    {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
                </div>
                <p>Forgot Password?</p>
            </div>
            <div class="btn-field">
                {{ form_widget(form.login, {'attr': {'class': 'button-label'}}) }}
            </div>
            <a id="accountExist" href="{{ path('register') }}">No account? Register</a>
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        let loginBtn = document.getElementById("loginBtn");
        let emailField = document.getElementById("emailField");
        let passwordField = document.getElementById("passwordField");

        loginBtn.onclick = function () {
            // Custom JavaScript logic can be added here
        }
    </script>
{% endblock %}
