
{% extends 'base.html.twig' %}
{% block title %}TastyTable{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/Profile.css') }}">
    {% endblock %}




{% block body %}
    <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-bars"></i></button>
        <div class="dropdown-content">
            <a href="{{ path('homePage') }}">Homepage</a>
            <a href="{{ path('profile') }}">Profile</a>
            <a href="{{ path('aboutUs') }}">About Us/Contact</a>
        </div>
    </div>
    <div class = "container">
        <main>
            <div class="profile-info">
                <h2>Esat Caglayan</h2>
                <ul>
                    <i class="fa-solid fa-users"></i>
                    <li><a href="#">Followers</a></li>
                    <span class="separator"> / </span>
                    <li><a href="#">Following</a></li>
                </ul>
                <hr class="rounded">

                <!--Dropdown-->
                <nav>
                    <input id="toggle" type="checkbox" checked>
                    <h2>Dietary Preferences</h2>
                    <ul>
                        <li><input type="checkbox" id="none" name="none"><label for="none">None</label></li>
                        <li><input type="checkbox" id="lacto-vegetarian" name="diet"><label for="lacto-vegetarian">Lacto Vegetarian</label></li>
                        <li><input type="checkbox" id="ovo-vegetarian" name="diet"><label for="ovo-vegetarian">Ovo Vegetarian</label></li>
                        <li><input type="checkbox" id="ovolacto-vegetarian" name="diet"><label for="ovolacto-vegetarian">Ovo-Lacto Vegetarian</label></li>
                        <li><input type="checkbox" id="pescatarian" name="diet"><label for="pescatarian">Pescatarian</label></li>
                        <li><input type="checkbox" id="vegan" name="diet"><label for="vegan">Vegan</label></li>
                        <li><input type="checkbox" id="vegetarian" name="diet"><label for="vegetarian">Vegetarian</label></li>
                    </ul>
                </nav>
            </div>
            <hr class="rounded">
            <div class="breadcrumb">
                <a href="{{ path('profile', { type: 'saved' }) }}">Saved Recipes</a>
                <span class="separator"> / </span>
                <a href="{{ path('profile', { type: 'my' }) }}">My Recipes</a>
            </div>

            <div class="saved-recipes">
                {% for recipe in recipes %}
                <div class="recipe-card">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.readyInMinutes }} minutes </p>
                    <p >Servings: {{ recipe.servings }}</p>
                </div>
                {% endfor %}

                <!-- Add more recipe cards here -->
            </div>
        </main>
    </div>
{% endblock %}