{% extends 'base.html.twig' %}
{% block title %}TastyTable{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('style/Profile.css') }}">
{% endblock %}

{% block body %}

  <body>
  <h1>{{ recipe[0] }}</h1>
  <img src="{{ recipe[1] }}" alt="Recipe Image">
  <p>Time: {{ recipe[2] }} minutes</p>
  <p>Rating: {{ recipe[3] }}</p>
{#  <p>{{ recipe.instructions|raw }}</p>#}
  <!-- Add other recipe details as needed -->
  </body>

{% endblock %}