{% extends 'base.html.twig' %}
{% block title %}TastyTable{% endblock %}

{% block search_bar %}
    <!-- Overriding and making it invisible -->
{% endblock %}

{% block profile_user %}
    <!-- Overriding and making it invisible -->
{% endblock %}

{% block body %}
    {% if alertMessage%}
        <script>
            window.onload = function() {
                alert("{{ alertMessage }}");
            };
        </script>
    {% endif %}


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/signUp.css') }}">
    {% endblock %}

    <div class="container">
        <div class="form-box">
            <h1>Sign Up</h1>
            {{ form_start(form) }}
            <div class="input-group">
                <div class="input-field" id="username">
                    <i class="fa-solid fa-user"></i>
                    {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
                </div>
                <div class="input-field" id="name">
                    <i class="fa-solid fa-user"></i>
                    {{ form_widget(form.name, {'attr': {'placeholder': 'Name'}}) }}
                </div>
                <div class="input-field" id="surname">
                    <i class="fa-solid fa-user"></i>
                    {{ form_widget(form.surname, {'attr': {'placeholder': 'Surname'}}) }}
                </div>
                <div class="input-field" id="nameField">
                    <i class="fa-solid fa-envelope"></i>
                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                </div>
                <div class="input-field" id="passwordField">
                    <i class="fa-solid fa-lock"></i>
                    {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
                </div>
            </div>
            <div class="btn-field">
                {{ form_widget(form.save, {'attr': {'class': 'button-label'}}) }}
            </div>
            <a id="accountExist" href="{{ path('index') }}">Already have an account? Login</a>
            {{ form_end(form) }}
        </div>
    </div>
<script>
    let loginBtn = document.getElementById("loginBtn");
    let nameField = document.getElementById("nameField");
    let passwordField = document.getElementById("passwordField");

    loginBtn.onClick = function (){

    }
</script>

{% endblock %}