{% extends 'base.html.twig' %}
{% block title %}TastyTable{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/User.css') }}">
{% endblock %}

{% block body %}
    <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-bars"></i></button>
        <div class="dropdown-content">
            <a href="{{ path('homePage') }}">Homepage</a>
            <a href="{{ path('profile') }}">Profile</a>
            <a href="{{ path('aboutUs') }}">About Us/Contact</a>
        </div>
    </div>
    <div class="container">
        <h1>{{ user.username }}'s Profile</h1>
        <hr class="rounded">
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Surname:</strong> {{ user.surname }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Diet Preference:</strong> {% if user.dietPreference %} {{ user.dietPreference }} {% endif %} </p>
        <!-- Add more fields as needed -->

        <div class="breadcrumb">
            {% if isFollowing == '1' %}
            <a href="{{ path('user_profile', { 'username': user.username, 'isFollowing': '1', 'type': 'delete' }) }}">Unfollow</a>
            {% else %}
            <a href="{{ path('user_profile', { 'username': user.username, 'isFollowing': '0', 'type': 'RemoveFollower' }) }}">Remove Follower</a>
            {% endif %}
        </div>

        <hr class="rounded">
        <div class="breadcrumb">
            <a href="{{ path('user_profile', { 'username': user.username, 'isFollowing': isFollowing, 'type': 'saved' }) }}">Saved Recipes</a>
            <span class="separator"> / </span>
            <a href="{{ path('user_profile', { 'username': user.username, 'isFollowing': isFollowing, 'type': 'user recipe' }) }}">User's Recipes</a>
        </div>

        <div class="saved-recipes">
            {% for recipe in API_recipes %}

                <div class="recipe-card">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <a href="{{ path('recipeDisplay', { 'id': recipe.id }) }} " id="text-for-link-1">
                        <h3>{{ recipe.title }}</h3>


                        <p>{{ recipe.readyInMinutes }} minutes </p>
                        <p>Servings: {{ recipe.servings }}</p>
                    </a>
                </div>

            {% endfor %}

            {% for recipeDb in Db_recipes %}


                <div class="recipe-card">
                    {% if recipeDb.picturePath %}
                        <img src="{{ asset('style/images/recipeImages/' ~ recipeDb.picturePath) }}" alt="Recipe Image" style="width: 280px; height: 280px;">
                    {% else %}
                        <img src="{{ asset('style/images/placeholderImage.jpeg') }}" alt="Recipe Image" style="width: 280px; height: 280px;">

                    {% endif %}
                    <a href="{{ path('recipeDisplay', { 'id': recipeDb.id }) }} " id="text-for-link">
                        <h3>{{ recipeDb.recipeName }}</h3>
                        <p>{{ recipeDb.time }} minutes </p>
                        <p>Servings: {{ recipeDb.servings  }}</p>
                    </a>
                </div>

            {% endfor %}

            <!-- Add more recipe cards here -->
        </div>

    </div>
{% endblock %}
